<div class="campaign-list">
    <h2 class="title">Active Campaigns</h2>
    <div class="container">
        <app-search (filter)="filter($event)"></app-search>
        <table class="table table-hover">
            <thead>
                <th scope="col">Campaign Name</th>
                <th scope="col">Daily Budget</th>
                <th scope="col">Bid</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Devices</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr *ngFor="let campaign of filteredCampaigns; let i = index">
                    <th scope="row">{{campaign.name}}</th>
                    <td>{{campaign.budget}}$</td>
                    <td>{{campaign.bid}}$</td>
                    <td>{{campaign.start}}</td>
                    <td>{{campaign.end}}</td>
                    <td>{{campaign.devices.join(', ')}}</td>
                    <td><button class="btn btn-primary" (click)="editCampaign(i)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>