<div class="signup"> 
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input 
                id="email"
                name="email" 
                ngModel 
                class="form-control"
                placeholder="Name" 
                type="email">
            </div>
            <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input 
                id="password" 
                name="password" 
                class="form-control" 
                ngModel 
                placeholder="password"
                type="password">
            </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>